/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, a, 
abbr, del, dfn, em, img, small, strike, strong, sub, sup, tt, var,b, u, i, dl, 
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, canvas, details, embed,figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0; padding: 0; border: 0; vertical-align: baseline; line-height:1.2em;}

ol, ul, li{ list-style:none; }
body{font-family:Arial, Helvetica, sans-serif; font-size:65%;}

a:link, a:visited{text-decoration:underline;}

body { 
	background: #ffcccc;
}

#welcome {
	margin: 100px auto;
	position: relative;
	width: 885px;
	height:583px;
	background: url('img/wholikes.gif') no-repeat left top;
}

.facebook-login{
	position: absolute;
	left:696px;
	top:556px;
	height:25px;
}

.facebook-login a{
	height:25px;
}
.facebook-login span{
	height:16px;
}

.facebook-connect {
	display: none;
}

#result {
	margin: 100px auto;
	position: relative;
	width:812px;
	height:426px;
	background: url('img/yourval.gif') no-repeat left top;
}

.frame{
	overflow: hidden;
	position: absolute;
	left:434px;
	top:80px;
	height:220px;
}

.frame img{
	width:220px;
}

.text {
	position: absolute;
	left: 378px;
	top: 362px;
	text-align: center;
	width: 330px;
	color:#280377;
	font-size:15px;
}

.facebook-continue{
	position: absolute;
	left:496px;
	top:399px;
}

#message {
	margin: 100px auto;
	position: relative;
	width:615px;
	height:442px;
	background: url('img/pickmessage.gif') no-repeat left top;
}

.menu {
	position:absolute;
	left:413px;
	top:166px;
}

.menu li{
	padding-top:10px;
}

.menu li:hover img.over{ display: block; }
.menu li:hover img.up{ display: none; }

.menu li img.over{ display: none; }
.menu li img.up{ display: block; }
.menu li img.select{display: none;}
.menu span{display: none;}

.message-container{
	z-index:-5;
	position: absolute;
	left:91px;
	top:141px;
	width: 653px;
	height:241px;
	background: url('img/frame.png') no-repeat left top;
}

.message-container p{
	position: absolute;
	left:133px;
	top:59px;
	width:411px;
	color:#280377;
	font-size:18px;
}

.facebook-send{
	position: absolute;
	left:384px;
	top:403px;
}


#happy{
	margin: 100px auto;
	position: relative;
	width:798px;
	height:445px;
	background: url('img/happy.gif') no-repeat left top;
}

.facebook-like {
	position: absolute;
	left:614px;
	top:414px;
}