/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, a, 
abbr, del, dfn, em, img, small, strike, strong, sub, sup, tt, var,b, u, i, dl, 
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, canvas, details, embed,figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0; padding: 0; border: 0; vertical-align: baseline; line-height:1.2em;}

ol, ul, li{ list-style:none; }
body{font-family:Arial, Helvetica, sans-serif; font-size:65%;}

a:link, a:visited{text-decoration:underline;}

body { 
	background: #ffcccc;
}

.fb_button .fb_button_text, .fb_button_rtl .fb_button_text {
	padding-top: 3px !important;
}

#fb-root { position:fixed; top:10%;}

.fb_edge_comment_widget.fb_iframe_widget{
	top: -162px !important;
	left: -340px !important;
	position: absolute;
	overflow: hidden;
	height: 156px;
	border-top: 1px solid;
	width: 393px;
}

.fb_edge_comment_widget.fb_iframe_widget iframe{
	margin-top: -6px !important;
}

.connect_comment_widget .nub{
	display: none !important;
}

#audio-controls { 
	position:fixed; 
	top:5px; 
	left:4px; 
	/*background-color: #ffffff;*/
	padding-top:2px;
	cursor:pointer;
	width: 40px;
	height:40px;
}

#welcome {
	margin: 20px auto;
	position: relative;
	width: 885px;
	height:583px;
	background: url('img/wholikes.png') no-repeat left top;
}

.welcome-continue {
	display: none;
	position: absolute;
	left:696px;
	top:556px;
	cursor:pointer;
}

.fb-login-button{
	position: absolute;
	left:696px;
	top:556px;
}

.fbText {
	display: none;
	position: absolute;
	left: 0px;
	top: 50px;
	font-size: 16px;
	font-style: italic;
	color: #ad86a1;
        text-align: center;
        width:100%;
}

.fbStillWaiting {
	display: none;
	position: absolute;
	left: 338px;
	top: 107px;
}

#loader{
	display: none;
	margin: 300px auto;
	position: relative;
	width:650px;
	height:25px;
    text-align: center;
}

#loader ul{
	width:100%;
}

#loader li{
	float: left;
	padding-left: 15px;
}

.hidden {
	display: none;
}

#result {
	display: none;
	margin: 50px auto;
	position: relative;
	width:812px;
	height:426px;
	background: url('img/yourval.gif') no-repeat left top;
}

.frame{
	overflow: hidden;
	position: absolute;
	left:434px;
	top:80px;
	height:220px;
}

.frame img{
	width:220px;
}

.name{
	position: absolute;
	left: 378px;
	top: 354px;
	text-align: center;
	width: 330px;
	color:#280377;
	font-size:15px;
}

.text {
	position: absolute;
	left: 378px;
	top: 377px;
	text-align: center;
	width: 330px;
	color:#280377;
	font-size:15px;
}

.facebook-continue{
	position: absolute;
	left: 446px;
	top: 405px;
	cursor:pointer;
}

.facebook-nothanks{
	position: absolute;
	left: 546px;
	top: 405px;
	cursor:pointer;
}

#message {
	display: none;
	margin: 60px auto;
	position: relative;
	width:615px;
	height:442px;
	background: url('img/pickmessage.gif') no-repeat left top;
	cursor:pointer;
}

.menu {
	position:absolute;
	left:413px;
	top:166px;
}

.menu li{
	padding-top:10px;
}

.menu li:hover img.over{ display: block; }
.menu li:hover img.up{ display: none; }

.menu li img.over{ display: none; }
.menu li img.up{ display: block; }
.menu li img.select{display: none;}
.menu span{display: none;}

.message-container{
	z-index:-5;
	position: absolute;
	left:91px;
	top:141px;
	width: 653px;
	height:241px;
	background: url('img/frame.png') no-repeat left top;
}

.message-container p{
	position: absolute;
	left:133px;
	top:59px;
	width:411px;
	color:#280377;
	font-size:18px;
}

.facebook-send{
	position: absolute;
	left:384px;
	top:403px;
}


#happy{
	display: none;
	margin: 60px auto;
	position: relative;
	width:875px;
	height:445px;
	background: url('img/happy.gif') no-repeat left top;
}

.vml-link {
	position: absolute;
	left: 345px;
	top: 353px;
	width:130px;
	height:55px;
	cursor: pointer;
}

.yr-link {
	position: absolute;
	left: 489px;
	top: 353px;
	width:95px;
	height:55px;
	cursor: pointer;
}

.fb-like {
	position: absolute;
	left:614px;
	top:414px;
}